:host {
  display: inline-block;
  width: fit-content;
  min-width: 64px;
}

:host(.full-width) {
  width: 100%;
  display: block;
}

button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  transition: 2;
  gap: 8px;
}

button[disabled] {
  background-color: #304ffe;
  color: #fff;
  opacity: 0.7;
}

:host(.size-sm) button {
  height: 32px;
  padding: 0 12px;
  font-size: 0.8125rem;
}

:host(.size-md) button {
  height: 40px;
  padding: 0 24px;
  font-size: 0.875rem;
}

:host(.size-lg) button {
  height: 56px;
  padding: 0 32px;
  font-size: 1rem;
  font-weight: 600;
}

button mat-icon {
  vertical-align: middle;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
}
