:host {
  display: inline-block;
  width: fit-content;
  min-width: 64px;

  &.full-width {
    width: 100%;
    display: block;
  }

  button {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.2s;

    &[disabled] {
      background-color: #304ffe;
      color: #fff;
      opacity: 0.7;
    }

    mat-icon {
      width: 20px;
      height: 20px;
      flex-shrink: 0;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      line-height: 1;
      font-size: 0.9rem;
    }
  }

  &.size-sm button {
    height: 32px;
    padding: 0 12px;
    font-size: 0.8125rem;
  }

  &.size-md button {
    height: 40px;
    padding: 0 24px;
    font-size: 0.875rem;
  }

  &.size-lg button {
    height: 55px;
    padding: 0 32px;
    font-size: 1rem;
    font-weight: 600;
  }

  &.is-icon-btn {
    min-width: unset;

    button {
      border-radius: 50%;
      padding: 0;
      gap: 0;

      &[disabled] {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.26);
        opacity: 1;
      }

      mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
      }
    }

    &.size-sm button {
      width: 32px;
      height: 32px;

      mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
      }
    }

    &.size-md button {
      width: 40px;
      height: 40px;
    }

    &.size-lg button {
      width: 56px;
      height: 56px;
    }
  }
}
