.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5;
}

.sidebar-area {
  width: 260px;
  background-color: #fff;
  /*flex-shrink: 0;*/
  height: 100%;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;

  overflow: hidden;
}

.topbar-area {
  height: 5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}

.content-area {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 24px;
  scroll-behavior: smooth;
}
